@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Poppins:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background: #F9FAFB;
    background-image: url(./images/tengen_bg\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #232634; */
    color: #f9f9f9;
}

.logo {
    display: flex;
    width: 30%;
    font-size: 8px;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    letter-spacing: 0.3px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.logo img {
    width: 58px;
    height: 58px;
    transition: all .3s;
}

.logo img:hover {
    transform: scale(1.1);
}

.links {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    margin-right: 10%;
}

.links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: all .3s;
}

.links a:hover {
    color: #f9faf8;
    transform: scale(1.1);
}

.hero-content-container {
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    background-color: #f9faf8;
    border: 0 solid #e5e7eb;
    border-radius: 10px;
}

.hero-content {
    display: flex;
    color: #010001;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 75%;
    margin-left: 8%;
}

.main-title {
    font-family: "Nunito extra", sans-serif;
    letter-spacing: 0.5px;
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-content button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    background: #f9faf8;
    color: #010101;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    transition: all .3s;
    box-shadow: #e5e7eb 0px 0px 10px 0px;
}

.hero-content button:hover {
    color: #f9f9f9;
    background: #010001;
    box-shadow: #e5e7eb 0px 0px 10px 0px;
    transform: scale(1.1);
}

.placeholder {
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.placeholder img {
    width: 700px;
    height: 240px;
    transition: all .3s;
}

.placeholder img:hover {
    transform: scale(1.1);
}

.main-character-container {
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
    background-color: #f9faf8;
    border: 0 solid #e5e7eb;
    border-radius: 10px;
    box-shadow: #010101 0px 0px 10px 0px;
}

.main-character-container h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.main-characters {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-characters-item {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-characters-item img {
    width: 180px;
    height: 150px;
    border-radius: 10%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    transition: all .3s;
    box-shadow: #e5e7eb 0px 0px 10px 0px;
}

.main-characters-item img:hover {
    transform: scale(1.1);
}

.quote-container {
    width: 95%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.quote {
    width: 100vh;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 36px;
    color: #f9f9f9;
    box-shadow: #e5e7eb 0px 0px 10px 0px;
    border: 0 solid #e5e7eb;
    border-radius: 10px;
}

.quote q {
    margin-left: 60px;
    text-align: left;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.quote p {
    display: flex;
    margin-top: 10px;
    margin-left: 80%;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.resume-container {
    width: 90%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    background-color: #f9faf8;
    border: 0 solid #e5e7eb;
    border-radius: 10px;
    box-shadow: #010101 0px 0px 10px 0px;
}

.resume-container h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.resume {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resume p {
    font-size: 20px;
}

.ytb-video {
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    background-color: #f9faf8;
    border: 0 solid #e5e7eb;
    border-radius: 10px;
    box-shadow: #010101 0px 0px 10px 0px;
}

.footer {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    background-color: #232634;
    border: 0 solid #e5e7eb;
    border-radius: 10px;
    box-shadow: #010101 0px 0px 10px 0px;
    color: #f9f9f9;
}

.footer a {
    color: #f9f9f9;
    font-size: 18px;
    transition: all .3s;
}